.fixed-button {
   position: fixed;
   top: 1rem;
   right: 1rem;
   z-index: 1030;
}

@media (max-width: 768px) {
   .fixed-button {
     position: fixed;
     top: auto;
     bottom: 1rem;
     right: 1rem;
  }
}